<section class="todo-list-container">
  <header class="header">
    <h3>My Todo List</h3>
    <input #newTodo class="form-control" placeholder="What do you need to get done?" />
    <button (click)="addTodo(newTodo.value); newTodo.value=''">
      Add Todo
    </button>
  </header>
  <section class="main">
    <ul class="todo-list">
      <li *ngFor="let todo of todos">
        <div class="todo-view">
          <input class="toggle" type="checkbox">
          <label>{{todo.todo}}</label>
        </div>
      </li>
    </ul>
  </section>
</section>
